### W.O.E. Rank


Created By: mac-0

#### Step 0:
Importing Libraries

In [1]:
import sqlite3
import pandas as pd
#import matplotlib.pyplot as plt
#import numpy as np

#### Step 1:

Calculate Total League win-rate by Race to give us an expected win-rate by race which will be used to calculated the "expected" part of this ranking.

This is currently calculated using only the same league data that the "WOE" rank will. This means that if we are creating one for a season (e.g. Season 22 CCL, the expected win-rate will be based only off of games played in Season 22). I will consider revisiting this to allow for larger sample size.

In [2]:
conn = sqlite3.connect('ccl_current.sqlite')
win_rates_by_race_query = '''
select
    t.race,
    sum(tm.win) + sum(tm.draw) + sum(tm.loss) as games,
    sum(tm.win) as wins,
    sum(tm.draw) as draws,
    sum(tm.loss) as losses
    --(sum(tm.win+0.0) + sum(tm.draw+0.0)/2)/(sum(tm.win+0.0) + sum(tm.draw+0.0) + sum(tm.loss+0.0)) as win_percent
from teammatches tm
inner join teams t
    on tm.idteamlisting = t.id
group by 
    t.race
    '''
win_rates_by_race = pd.read_sql_query(win_rates_by_race_query,conn)
win_rates_by_race.head()

         race  games  wins  draws  losses
0      Amazon    125    67     25      33
1   Bretonnia    103    46     24      33
2       Chaos    370   131     74     165
3  ChaosDwarf    278   145     50      83
4     DarkElf    276   122     45     109

#### Step 2:

Calculate Total League win-rate by Race for all Coaches

In [3]:
win_rates_by_race_and_coach_query = '''
select
    tm.coach,
    t.race,
    sum(tm.win) + sum(tm.draw) + sum(tm.loss) as games,
    sum(tm.win) as wins,
    sum(tm.draw) as draws,
    sum(tm.loss) as losses
    --(sum(tm.win+0.0) + sum(tm.draw+0.0)/2)/(sum(tm.win+0.0) + sum(tm.draw+0.0) + sum(tm.loss+0.0)) as win_percent
from teammatches tm
inner join teams t
    on tm.idteamlisting = t.id
group by 
    tm.coach,
    t.race
    '''

win_rates_by_race_and_coach = pd.read_sql_query(win_rates_by_race_and_coach_query,conn)
win_rates_by_race_and_coach.head()

    coach    race  games  wins  draws  losses
0   +Kor+   Chaos      4     2      0       2
1  --CD--   Norse      1     0      0       1
2  0beron     Orc      1     0      0       1
3   0rbit  Amazon      2     2      0       0
4   0rbit    Ogre      1     1      0       0

In [4]:
expected_win_rates = pd.merge(win_rates_by_race_and_coach, win_rates_by_race, how='left',
                             left_on='race',right_on='race')
expected_win_rates.head()

,coach,race,games_x,wins_x,draws_x,losses_x,games_y,wins_y,draws_y,losses_y
0,+Kor+,Chaos,4,2,0,2,370,131,74,165
1,--CD--,Norse,1,0,0,1,147,72,22,53
2,0beron,Orc,1,0,0,1,416,198,76,142
3,0rbit,Amazon,2,2,0,0,125,67,25,33
4,0rbit,Ogre,1,1,0,0,108,37,27,44

In [5]:
expected_win_rates['expected_wins'] = \
    expected_win_rates['games_x'] * ((expected_win_rates['wins_y'] - expected_win_rates['wins_x']) + (expected_win_rates['draws_y'] - expected_win_rates['draws_x'])/2)/(expected_win_rates['games_y'] - expected_win_rates['games_x'])

expected_win_rates['wins_over_expected'] = (expected_win_rates['wins_x'] + expected_win_rates['draws_x']/2) - expected_win_rates['expected_wins']
expected_win_rates.sort_values(by='wins_over_expected',ascending=False).head()

,coach,race,games_x,wins_x,draws_x,losses_x,games_y,wins_y,draws_y,losses_y,expected_wins,wins_over_expected
154,Crucifer,ChaosDwarf,23,17,5,1,278,145,50,83,13.574510,5.925490
436,JimmyFantastic,ChaosDwarf,24,17,5,2,278,145,50,83,14.220472,5.279528
729,Razzle Storm,Kislev,10,7,2,1,58,23,9,26,4.062500,3.937500
193,Dick_Delaware,ChaosDwarf,22,14,6,2,278,145,50,83,13.148438,3.851562
1036,dionysian,ChaosDwarf,33,23,1,9,278,145,50,83,19.732653,3.767347

In [6]:
expected_win_rates.groupby('coach').sum().sort_values(by='wins_over_expected',ascending=False)

,games_x,wins_x,draws_x,losses_x,games_y,wins_y,draws_y,losses_y,expected_wins,wins_over_expected
coach,,,,,,,,,,
Crucifer,23,17,5,1,278,145,50,83,13.574510,5.925490
JimmyFantastic,25,17,6,2,643,295,132,216,14.743824,5.256176
Missuh,14,10,2,2,646,253,119,274,6.531863,4.468137
Dick_Delaware,26,17,6,3,511,273,79,159,15.585119,4.414881
dionysian,34,24,1,9,539,262,103,174,20.280730,4.219270
Metanol,14,11,1,2,416,198,76,142,7.818408,3.681592
SvenRutabega,26,13,8,5,365,150,82,133,13.345133,3.654867
AndyDavo,9,7,1,1,370,131,74,165,4.001385,3.498615
Willking15,22,13,6,3,638,306,119,213,12.509852,3.490148
Boskovic,9,9,0,0,218,118,38,62,5.511962,3.488038
Pupok,11,7,4,0,365,150,82,133,5.655367,3.344633
JustARandomNoob,14,8,5,1,365,150,82,133,7.199430,3.300570
centolluco,22,14,4,4,386,184,78,124,12.728130,3.271870
Fanjo,29,16,8,5,827,409,160,258,16.895939,3.104061
Fatyn,16,11,2,3,458,229,67,162,8.967146,3.032854
Razzle Storm,12,7,2,3,498,180,95,223,4.981553,3.018447
Skuld,11,8,2,1,147,72,22,53,5.985294,3.014706
thaWaTRix,11,7,4,0,147,72,22,53,5.985294,3.014706
JustJoe,13,7,6,0,261,117,53,91,6.997984,3.002016
StubbornLife,15,10,3,2,583,263,126,194,8.522839,2.977161
Supernova,10,8,1,1,579,276,86,217,5.552862,2.947138
waynefarer,36,19,8,9,665,311,134,220,20.055891,2.944109
Hesdoorn05,16,11,3,2,233,128,29,76,9.585253,2.914747
That There Phil,42,21,7,14,365,150,82,133,21.650155,2.849845
Grzesiu,25,15,3,7,592,239,117,236,13.702767,2.797233
Yaquestay,16,7,4,5,132,41,26,65,6.206897,2.793103
Cyberknight,22,13,3,6,103,46,24,33,11.814815,2.685185
Mamatador,15,9,3,3,481,240,68,173,7.901991,2.598009
Sorefist,9,7,1,1,416,198,76,142,5.052826,2.447174
Queen Elizabeth,5,5,0,0,771,320,144,307,2.575384,2.424616
...,...,...,...,...,...,...,...,...,...,...
BaconSarnie,10,2,3,5,692,320,121,251,5.619722,-2.119722
Manly Man,5,0,0,5,132,41,26,65,2.125984,-2.125984
Merlin13,5,0,1,4,365,150,82,133,2.645833,-2.145833
VultureSquadron,15,4,5,6,261,119,62,80,8.646855,-2.146855
HecklePlays,8,1,1,6,370,131,74,165,3.679558,-2.179558
Nessor,5,1,0,4,218,118,38,62,3.192488,-2.192488
ExodiusLP,32,10,8,14,949,387,180,382,16.233110,-2.233110
Nightmare200591,18,5,2,11,370,131,74,165,8.284091,-2.284091
Attila Kiss,8,2,1,5,301,148,57,96,4.801268,-2.301268
Brenshar,4,0,0,4,103,46,24,33,2.343434,-2.343434
SineSineSINE,4,0,0,4,222,108,43,71,2.376147,-2.376147
PantsROverRated,8,2,0,6,1014,476,187,351,4.379321,-2.379321
Mathusalem,5,0,1,4,696,339,139,218,2.885483,-2.385483
Makemake,34,14,4,16,433,199,81,153,18.465587,-2.465587
deine_mutter,8,1,2,5,389,183,76,130,4.516662,-2.516662
Vindspid,10,1,2,7,370,131,74,165,4.611111,-2.611111
Dicey,7,1,0,6,276,122,45,109,3.734201,-2.734201
Mcstonebeardson,13,4,1,8,1071,464,206,401,7.262849,-2.762849
Maycen,8,1,2,5,850,432,132,286,4.768145,-2.768145
Bane29,15,5,3,7,218,113,44,61,9.495074,-2.995074
upsidups1,11,3,2,6,401,189,70,142,7.090672,-3.090672
Kanukki,7,0,2,5,147,72,22,53,4.100000,-3.100000
JoDaHammer,10,2,0,8,450,207,84,159,5.118908,-3.118908
HalteNis,21,7,2,12,626,267,135,224,11.284687,-3.284687
Dreadmaker,10,1,0,9,603,259,103,241,4.777659,-3.777659
Krazhim,15,3,2,10,981,445,182,354,7.903710,-3.903710
Jaxinator25,9,1,0,8,911,396,175,340,5.439701,-4.439701
Gurital,14,2,3,9,218,118,38,62,9.161765,-5.661765
waaarghh,26,5,7,14,416,198,76,142,15.166667,-6.666667
MASTERDAVEII,48,12,7,29,370,131,74,165,22.732919,-7.232919